* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.entry {
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 2rem;
  padding: 1rem;
}
.entry_list {
  padding: 1rem;
}
.task {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-around;
  margin: 1rem auto;
  background-color: #d4d4d4;
  padding: 1rem;
  align-items: center;
  border-radius: 1rem;
}
.task_count_btn{
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.plus{
  background-color: rgb(114, 228, 114)
}
.plus:active{
  background-color: rgb(77, 212, 77);
  transform: scale(1.2);
}
.minus{
  background-color: rgb(255, 140, 140);
}
.minus:active{
  background-color: rgb(255, 114, 114);
  transform: scale(1.2);
}
.actions_holder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  gap:0.5rem;
}
.actions_holder button{
  padding: 0.5rem 0.77rem;
  background-color: #008fe2;
  transition: all 0.2 ease-in;
  color: #f4f4f4;
  border: none;
}
.actions_holder button:active{
  background-color: #000000;
}
.copy_msg{
  color: #f4f4f4;
  background-color: #008fe2;
  margin: 1rem 0;
  padding: 0.5rem 0.7rem;
  width: 200px;
  animation: forwards fade-in 0.3s ease-in-out;
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}